<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/css/Menu/about.css">
    <title>Informations sur le Plugin Minecraft</title>
</head>
<body>
<div class="container">
    <h1>Informations sur le Plugin Minecraft</h1>

    <div class="section">
        <h2>Inventaire</h2>
        <p>Cette fonctionnalité permet aux joueurs de stocker et de gérer leurs objets.</p>
    </div>

    <div class="section">
        <h2>Boutique d'objets</h2>
        <p>Les joueurs peuvent acheter des objets dans cette boutique en échange de ressources ou de devises virtuelles.</p>
    </div>

    <div class="section">
        <h2>Blocs détruits</h2>
        <p>Cette fonctionnalité enregistre les blocs que les joueurs ont détruits dans le monde de jeu.</p>
    </div>

    <div class="section">
        <h2>Blocs parcourus</h2>
        <p>Les blocs parcourus correspondent aux zones explorées par les joueurs dans le monde de jeu.</p>
    </div>

    <div class="section">
        <h2>Kills</h2>
        <p>Cette fonctionnalité enregistre le nombre d'ennemis tués par les joueurs.</p>
    </div>

    <div class="section">
        <h2>Achievements</h2>
        <p>Les achievements sont des objectifs que les joueurs peuvent atteindre pour gagner des récompenses spéciales.</p>
    </div>
</div>
</body>
</html>
