<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
</head>
<body>
<h1>Admin Panel</h1>

<form id="createPlayerForm">
  <label for="player_id">Player ID:</label><br>
  <input type="text" id="player_id" name="player_id" required><br>

  <label for="player_name">Player Name:</label><br>
  <input type="text" id="player_name" name="player_name" required><br>

  <label for="coins">Coins:</label><br>
  <input type="number" id="coins" name="coins" required><br>

  <label for="kills">Kills:</label><br>
  <input type="number" id="kills" name="kills" required><br>

  <label for="entity_type">Entity Type:</label><br>
  <input type="text" id="entity_type" name="stats.entity_type" required><br>

  <label for="blocks">Blocks Moved:</label><br>
  <input type="number" id="blocks" name="blocks.blocks_moved" required><br>

  <label for="achievements">Achievements:</label><br>
  <input type="number" id="achievements" name="achievements.achievements" required><br>

  <label for="item_name">Item Name:</label><br>
  <input type="text" id="item_name" name="item_name" required><br>

  <label for="quantity">Quantity:</label><br>
  <input type="number" id="quantity" name="purchase.quantity" required><br>

  <label for="price">Price:</label><br>
  <input type="number" id="price" name="purchase.price" required><br>

  <label for="purchase_date">Purchase Date:</label><br>
  <input type="text" id="purchase_date" name="purchase.purchase_date" required><br>

  <label for="blockName">Block Name:</label><br>
  <input type="text" id="blockName" name="block.block_name" required><br>

  <label for="position">Position:</label><br>
  <input type="number" id="position" name="block.position" required><br>

  <label for="nomItem">Nom Item:</label><br>
  <input type="text" id="nomItem" name="block.nom_blocks" required><br>

  <label for="nameBlock">Name Block:</label><br>
  <input type="text" id="nameBlock" name="nameBlock" required><br>

  <br><br>
  <button type="button" onclick="createPlayer()">Create Player</button>
</form>

<h2>All Players</h2>
<ul id="playerList">
</ul>

<h2>Update Player</h2>
<form id="updatePlayerForm">
  <label for="updateId">Player ID to Update:</label><br>
  <input type="number" id="updateId" name="player_id" required><br>
  <label for="updateName">New Name:</label><br>
  <input type="text" id="updateName" name="player_name" required><br>
  <label for="updateScore">New Score:</label><br>
  <input type="number" id="updateScore" name="stats.score" required><br><br>
  <button type="button" onclick="updatePlayer()">Update Player</button>
</form>

<h2>Delete Player</h2>
<form id="deletePlayerForm">
  <label for="deleteId">Player ID to Delete:</label><br>
  <input type="number" id="deleteId" name="player_id" required><br><br>
  <button type="submit">Delete Player</button>
</form>

<script>
  function fetchPlayers() {
    const playerList = document.getElementById("playerList");
    if (!playerList) return;

    fetch("/read")
            .then(response => response.json())
            .then(data => {
              playerList.innerHTML = "";

              if (data) {
                data.forEach(player => {
                  const listItem = document.createElement("li");
                  listItem.textContent = `ID: ${player.player_id}, Name: ${player.player_name}, BlockNames: ${player.blockName}, Items_name ${player.inventory.item_name} Coins: ${player.coins}, Kills: ${player.kills}, EntityType: ${player.entity_type}, Blocks: ${player.blocks.blocks_moved}, Achievements: ${player.achievements.achievements}, ItemName: ${player.item_name}, Quantity: ${player.quantity}, Price: ${player.price}, PurchaseDate: ${player.purchase_date}, BlockName: ${player.block.block_name}, Position: ${player.block.position}, NomBlocks: ${player.block.nom_blocks}`;
                  playerList.appendChild(listItem);
                });
              } else {
                console.error('No player data received.');
              }
            })
            .catch(error => console.error('Error fetching players:', error));
  }

  // Variable globale pour stocker l'ID actuel
  let currentId = 0;

  function createPlayer() {
    // Récupère les valeurs des champs
    const player_id = document.getElementById("player_id").value;
    const nameBlock = document.getElementById("nameBlock").value;
    const player_name = document.getElementById("player_name").value;
    const coins = document.getElementById("coins").value;
    const kills = document.getElementById("kills").value;
    const entityType = document.getElementById("entity_type").value;
    const blocks = document.getElementById("blocks").value;
    const achievements = document.getElementById("achievements").value;
    const item_name = document.getElementById("item_name").value;
    const quantity = document.getElementById("quantity").value;
    const price = document.getElementById("price").value;
    const purchaseDate = document.getElementById("purchase_date").value;
    const position = document.getElementById("position").value;
    const nomItem = document.getElementById("nomItem").value;

    // Vérifie si tous les champs requis sont remplis
    if (!player_id || !player_name || !coins || !kills || !entityType || !blocks || !achievements || !item_name || !quantity || !price || !purchaseDate || !position || !nomItem) {
      console.error("Tous les champs doivent être remplis");
      return; // Arrête la fonction si un champ requis est manquant
    }
    const data = {
      player: {
        player_id: player_id,
        player_name: player_name,
      },
      inventory:{
        item_name: item_name,
      },
      stats: {
        kills: kills,
        entity_type: entityType
      },
      blocks: {
        blocks_moved: blocks
      },
      achievements: {
        achievements: parseInt(achievements)
      },
      purchase: {
        item_name: item_name,
        quantity: parseInt(quantity),
        price: parseInt(price),
        purchase_date: purchaseDate
      },
      block: {
        block_name: nameBlock,
        position: parseInt(position),
        nom_blocks: nomItem
      },
      nameBlock: {
        block_name: nameBlock,
      },
      Coins: {
        coins: coins,
      }
    };

    console.log("Data to send:", data);

    // Envoie les données au serveur pour la création du joueur
    fetch("/create", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(data)
    })
            .then(response => {
              console.log("Response received:", response);
              if (response.ok) {
                console.log("Player created successfully");
                fetchPlayers();
                document.getElementById("createPlayerForm").reset();
              } else {
                console.error("Failed to create player:", response.status);
              }
            })
            .catch(error => console.error("Error creating player:", error));
  }

  document.getElementById("deletePlayerForm").addEventListener("submit", function (event) {
    event.preventDefault();
    const formData = new FormData(this);
    fetch("/delete", {
      method: "POST",
      body: formData
    })
            .then(response => {
              if (response.ok) {
                fetchPlayers();
                this.reset();
              } else {
                console.error('Delete player failed:', response.status);
              }
            })
            .catch(error => console.error('Error deleting player:', error));
  });

  function updatePlayer() {
    const updateId = document.getElementById("updateId").value;
    const updateName = document.getElementById("updateName").value;
    const updateScore = document.getElementById("updateScore").value;

    const data = {
      player_id: updateId,
      player_name: updateName,
      stats: {
        score: parseInt(updateScore)
      }
    };

    fetch("/update", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(data)
    })
            .then(response => {
              if (response.ok) {
                fetchPlayers();
                document.getElementById("updatePlayerForm").reset();
              } else {
                console.error('Update player failed:', response.status);
              }
            })
            .catch(error => console.error('Error updating player:', error));
  }

  document.addEventListener("DOMContentLoaded", fetchPlayers);
</script>
</body>
</html>
