<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
</head>
<body>
<h1>Admin Panel</h1>

<form id="createPlayerForm">
  <label for="player_id">Player ID:</label><br>
  <input type="text" id="player_id" name="player_id" required><br>

  <label for="player_name">Player Name:</label><br>
  <input type="text" id="player_name" name="player_name" required><br>

  <label for="coins"> Coins: </label><br>
  <input type="number" id="coins" name="coins" required><br>

  <label for="kills">Kills:</label><br>
  <input type="number" id="kills" name="Stats.kills" required><br>

  <label for="entity_type">Entity Type:</label><br>
  <input type="text" id="entity_type" name="Stats.entity_type" required><br>

  <label for="blocks">Blocks Moved:</label><br>
  <input type="number" id="blocks" name="Blocks.blocks_moved" required><br>

  <label for="achievements">Achievements:</label><br>
  <input type="number" id="achievements" name="Achievements.achievements" required><br>

  <label for="item_name">Item Name:</label><br>
  <input type="text" id="item_name" name="Inventory.item_name" required><br>

  <label for="quantity">Quantity:</label><br>
  <input type="number" id="quantity" name="Purchase.quantity" required><br>

  <label for="price">Price:</label><br>
  <input type="number" id="price" name="Purchase.price" required><br>

  <label for="purchase_date">Purchase Date:</label><br>
  <input type="text" id="purchase_date" name="Purchase.purchase_date" required><br>

  <label for="blockName">Block Name:</label><br>
  <input type="text" id="blockName" name="block_name" required><br>

  <label for="position">Position:</label><br>
  <input type="number" id="position" name="position" required><br>

  <label for="nomItem">Nom Item:</label><br>
  <input type="text" id="nomItem" name="Block.nom_blocks" required><br>

  <label for="nameBlock">Name Block:</label><br>
  <input type="text" id="nameBlock" name="nameBlock" required><br>

  <label for="block_name">Name Block:</label><br>
  <input type="text" id="block_name" name="block_name" required><br>
  <br><br>
  <button type="button" onclick="createPlayer()">Create Player</button>
</form>

<h2>All Players</h2>
<ul id="playerList">
</ul>

<h2>Update Player</h2>
<form id="updatePlayerForm">
  <label for="updateId">Player ID to Update:</label><br>
  <input type="text" id="updateId" name="player_id" required><br>
  <label for="updateName">New Name:</label><br>
  <input type="text" id="updateName" name="player_name" required><br>
  <label for="updateScore">New Score:</label><br>
  <input type="number" id="updateScore" name="Stats.score" required><br><br>
  <button type="button" onclick="updatePlayer()">Update Player</button>
</form>

<h2>Delete Player</h2>
<form id="deletePlayerForm">
  <label for="deleteId">Player ID to Delete:</label><br>
  <input type="text" id="deleteId" name="player_id" required><br><br>
  <button type="submit">Delete Player</button>
</form>
<script src="/templates/js/panel.js"></script>
</body>
</html>
