<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panier</title>
</head>
<body>
<h1>Panier</h1>
<p>Bienvenue, {{.Username}}!</p>

<h2>Pièces:</h2>
<ul>
    {{range .Coins}}
    <li>{{.Coins}} pièces</li>
    {{end}}
</ul>
<p>Connect</p>
{{range .Connected }}
{{.UUID}}
{{.Name}}
{{.Connect}}
{{end}}
<h2>Articles dans le panier:</h2>
<ul>
    {{range .Panier}}
    <li>
        {{.ItemsName}} - Quantité: {{.Quantity}} - Prix: {{.Price}}
    </li>
    {{end}}
</ul>

{{if .IsLoggedIn}}
<p>Connecté en tant que {{.Username}}.</p>
{{else}}
<p>Vous n'êtes pas connecté.</p>
{{end}}

{{if .IsAdmin}}
<p>Vous êtes un administrateur.</p>
{{else}}
<p>Vous n'êtes pas un administrateur.</p>
{{end}}

<p>{{.ErrorMessage}}</p>

<a href="/api/user/logout">Déconnexion</a>
</body>
</html>
