<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Paramètres</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/templates/css/Menu/profile.css">
    <style>

    </style>
</head>
<body>
<h1>Paramètres</h1>
{{if .IsLoggedIn}}
<h2>Nom d'utilisateur: {{.Username}}</h2>
<h2>Email: {{.Email}}</h2>
<h2>Date d'inscription: {{.DateInscription}}</h2>
<form action="/delete-account" method="POST" id="deleteForm">
    <button type="submit" class="connexion-button" onclick="deleteAnimation()">Supprimer le compte</button>
</form>
{{else}}
<p>Veuillez vous connecter pour accéder à vos paramètres. <a href="/login" class="login-link">Connexion</a></p>
{{end}}
<script src="/templates/js/profile.js"></script>
</body>
</html>
