<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Paramètres</title>
    <link rel="stylesheet" type="text/css" href="/templates/css/Menu/menu.css">
    <style>

    </style>
</head>
<body>
<h1>Paramètres</h1>
{{if .IsLoggedIn}}
<h2>Nom d'utilisateur: {{.Username}}</h2>
<h2>Email: {{.Email}}</h2>
<h2>Date d'inscription: {{.DateInscription}}</h2>
<form action="/delete-account" method="POST">
    <button type="submit" class="connexion-button">Supprimer le compte</button>
</form>
{{else}}
<p>Veuillez vous connecter pour accéder à vos paramètres. <a href="/login" class="login-link">Connexion</a></p>
{{end}}
</body>
</html>
