<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/templates/css/Menu/shop.css">
</head>
<body>
<h3>Shop</h3>
<div class="stat-content">
    <div id="inventory_container">
        <div id="inventory_header">
            <div class="inventory-header-line"></div>
            <div class="inventory-tabs-container">
                <button class="inventory-tab" data-inventory-type="sword" onclick="switchTab('sword')">Weapon</button>
                <button class="inventory-tab" data-inventory-type="shield" onclick="switchTab('armor')">Shields</button>
                <button class="inventory-tab" data-inventory-type="pickaxe" onclick="switchTab('pickaxe')">Pickaxe</button>
                <button class="inventory-tab" data-inventory-type="fishing" onclick="switchTab('fishing')">Fishing</button>
                <button class="inventory-tab" data-inventory-type="potion" onclick="switchTab('potion')">Potion</button>
            </div>
        </div>
        <inventory-view inventory-type="inventory">
            {{ with index .ShopItem 17 }}
            <div class="inventory-slot pickaxe">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="" onclick="switchTab('pickaxe')">
            </div>
            {{ end }}
            {{ with index .ShopItem 38 }}
            <div class="inventory-slot">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">
            </div>
            {{ end }}
            {{ with index .ShopItem 2 }}
            <div class="inventory-slot sword">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="" onclick="switchTab('sword')">
            </div>
            {{ end }}
            {{ with index .ShopItem 1 }}
            <div class="inventory-slot armor">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="" onclick="switchTab('sword')">

            </div>
            {{ end }}
            {{ with index .ShopItem 3 }}
            <div class="inventory-slot armor">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 4 }}
            <div class="inventory-slot armor">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 16 }}
            <div class="inventory-slot pickaxe">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 31 }}
            <div class="inventory-slot armor">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 8 }}
            <div class="inventory-slot armor">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 0 }}
            <div class="inventory-slot weapon" title="Mini description ici" onclick="switchTab('sword')">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 38 }}
            <div class="inventory-slot">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">
            </div>
            {{ end }}
            {{ with index .ShopItem 6 }}
            <div class="inventory-slot sword">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="" onclick="switchTab('sword')">

            </div>
            {{ end }}
            {{ with index .ShopItem 10 }}
            <div class="inventory-slot armor">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 11 }}
            <div class="inventory-slot armor">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 12 }}
            <div class="inventory-slot armor">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 13 }}
            <div class="inventory-slot armor">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 14 }}
            <div class="inventory-slot armor">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 15 }}
            <div class="inventory-slot armor">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">
            </div>
            {{ end }}
            {{ with index .ShopItem 39 }}
            <div class="inventory-slot" onclick="switchTab('fishing')">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 38 }}
            <div class="inventory-slot">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">
            </div>
            {{ end }}
            {{ with index .ShopItem 7 }}
            <div class="inventory-slot sword">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="" onclick="switchTab('sword')">

            </div>
            {{ end }}
            {{ with index .ShopItem 18 }}
            <div class="inventory-slot sword">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="" onclick="switchTab('sword')">

            </div>
            {{ end }}
            {{ with index .ShopItem 19 }}
            <div class="inventory-slot sword">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="" onclick="switchTab('sword')">

            </div>
            {{ end }}
            {{ with index .ShopItem 20 }}
            <div class="inventory-slot sword">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="" onclick="switchTab('sword')">

            </div>
            {{ end }}
            {{ with index .ShopItem 21 }}
            <div class="inventory-slot sword">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="" onclick="switchTab('sword')">

            </div>
            {{ end }}
            {{ with index .ShopItem 22 }}
            <div class="inventory-slot sword">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="" onclick="switchTab('sword')">

            </div>
            {{ end }}
            {{ with index .ShopItem 23 }}
            <div class="inventory-slot sword">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="" onclick="switchTab('sword')">

            </div>
            {{ end }}
            {{ with index .ShopItem 9 }}
            <div class="inventory-slot armor" onclick="switchTab('armor')">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 38 }}
            <div class="inventory-slot">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">
            </div>
            {{ end }}
            {{ with index .ShopItem 5 }}
            <div class="inventory-slot sword">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 25 }}
            <div class="inventory-slot armor">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 26 }}
            <div class="inventory-slot armor">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 27 }}
            <div class="inventory-slot armor">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 28 }}
            <div class="inventory-slot armor">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 29 }}
            <div class="inventory-slot armor">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 30 }}
            <div class="inventory-slot armor">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 40 }}
            <div class="inventory-slot">
                <img src="data:image/png;base64,{{ .ImageData }}" alt=""  onclick="switchTab('potion')">

            </div>
            {{ end }}
            {{ with index .ShopItem 38 }}
            <div class="inventory-slot">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">
            </div>
            {{ end }}
            {{ with index .ShopItem 24 }}
            <div class="inventory-slot sword">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="" onclick="switchTab('sword')">

            </div>
            {{ end }}
            {{ with index .ShopItem 32 }}
            <div class="inventory-slot armor">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 33 }}
            <div class="inventory-slot armor">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 34 }}
            <div class="inventory-slot">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 35 }}
            <div class="inventory-slot pickaxe">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 36 }}
            <div class="inventory-slot pickaxe">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">

            </div>
            {{ end }}
            {{ with index .ShopItem 37 }}
            <div class="inventory-slot pickaxe" title="Pioche">
                <img src="data:image/png;base64,{{ .ImageData }}" alt="">
            </div>
            {{ end }}

        </inventory-view>
    </div>
</div>
<p>Want To Buy A Items ?</p>
<h3>Shop</h3>
<div class="blocks">
    {{ with index .ShopItem 0 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>

    </div>
    {{ end }}

    {{ with index .ShopItem 1 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 2 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 3 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 4 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 5 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 6 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 7 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')"  class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 8 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 9 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 10 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 11 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 12 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 13 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 14 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 15 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 16 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 17 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 18 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 19 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 20 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 21 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 22 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 23 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 24 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 25 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 26 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 27 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 28 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 29 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 30 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 31 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 32 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 33 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 34 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 35 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 36 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}

    {{ with index .ShopItem 37 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}
    {{ with index .ShopItem 39 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}
    {{ with index .ShopItem 40 }}
    <div class="blocks2">
        {{ .ID }}
        <img src="data:image/png;base64,{{ .ImageData }}" alt="">
        {{ .ItemsName }}
        {{ .Price }} Coins
        <button onclick="addToCart('{{ .ID }}')" class="minecraft-input">Acheter</button>
    </div>
    {{ end }}
</div>
<script src="/templates/js/shop.js"></script>
</body>
</html>
