<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="/templates/css/Connexion/login.css">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>
<body>
<div class="login-content">
    <form action="/login" class="sign-in-form" method="post">
        <h2 class="title">ForUs</h2>
        <div class="input-container">
            <input type="text" class="minecraft-input" name="username" id="username" placeholder="Entrez votre Username ici">
            <i class="fas fa-user"></i>
        </div>
        <div class="input-container">
            <input type="password" name="password" id="password" class="minecraft-input" placeholder="Entrez votre Mot De Passe ici">
            <i class="fas fa-lock"></i>
            {{ if .Password }}
            <p class="error-password">{{ .ErrorPassword }}</p>
            {{ end }}
        </div>
        <div class="button-group">
            <button id="log-in" class="minecraft-input center-button" type="submit">Login</button>
        </div>
        <a href="/register" class="minecraft-link">N'avez-vous pas de compte ?</a>
        <a href="/password" class="minecraft-link">Mot de passe oublié ?</a>
    </form>
</div>
</body>
</html>
